#nav{
    background-color: rgb(7, 85, 118);
    height: 80px;
    width: 100%;
}
p{
    color: rgb(116, 175, 242);
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#apps{
   margin-left: 70px; 
}

@media (max-width: 650px) {
    #nav{
        width:100%;
    }
}